<footer role="contentinfo">
	<p>
		{{tanuki.description}}
	<p>
	</p>
		By <a href="{{tanuki.author.url}}">{{tanuki.author.name}}</a> <a href="{{tanuki.author.email}}">{{tanuki.author.email}}</a>
	</p>
	<p>
		License <a href="{{tanuki.license.url}}">{{tanuki.license.name}}</a> {{current_year}}
	</p>
</footer>