<footer role="contentinfo">
	<p>
		{{tanuki.description}}
	<p>
	<p>
		By <a href="{{tanuki.publisher.url}}">{{tanuki.publisher.name}}</a> <a href="{{tanuki.publisher.email}}">{{tanuki.publisher.email}}</a>
	</p>
	<p>
		License <a href="{{tanuki.license.url}}">{{tanuki.license.name}}</a> {{current_year}}
	</p>
</footer>